.searchbar_container {
  display: flex; /* 수평 정렬 */
  gap: 10px; /* 요소 사이의 간격 */
  margin-bottom: 20px;
}

.searchbar_container > input{
  flex: 1; /* 남은 공간을 모두 차지 */
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

.searchbar_container > button {
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}