.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cover_image_container {
  display: flex;
  justify-content: center;
  padding: 20px;

  background-position: center; /* 배경 이미지의 위치 가운데로 */
  background-repeat: no-repeat; /* 배경 이미지의 반복 안하게 */
  background-size: cover; /* 배경 이미지가 가득 차게 */

  position: relative;
}

.cover_image_container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 검은색 투명 배경 */
  content: "";
}

.cover_image_container > img {
  z-index: 1; /* 다른 요소들보다 위에 위치 */
  max-height: 350px;
  height: 100%;
}

.title {
  font-size: large;
  font-weight: bold;
}

.subTitle {
  color: gray;
}

.author {
  color: gray;
}

.description {
  background-color: rgb(245, 245, 245);
  padding: 15px;
  line-height: 1.3; /* 줄 간격 */
  white-space: pre-line; /* 줄바꿈을 표시 */
  border-radius: 5px;
}
